.add-to-cart-style {
    font-size: 1rem;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
    margin-right:5px;
    }
}
a.add-to-cart-style:hover {
    color: #fff !important;
}

.product-heading-link {
    a:hover {
        color:#db5660 !important;
    }
    a {
        color: inherit !important;
    }
}


.add-to-cart-shownow-style {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg-danger {
    background: #c23616;
}

.msg-success {
    background: #db5660;
}

.razor-paybtn {
    padding: 0.5rem 1rem;
    background: #040f2b;
    color: #fff;
}