@import 'utils';
@import url('/node_modules/toastify-js/src/toastify.css');
.product-image-gallery {
    width: 100%;
    display: flex;
    &-container {
        flex: 1;
        width:500px;
        height: 611px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        img {
            max-width: 100%;
            max-height: 100%;   
            object-fit: contain;
        }
    }
    &-thumbnails {
        flex: 0 0 50px;
        img {
            width: 40px;
            height: 40px;
            object-fit: contain;
            padding-bottom: 5px;
            display: inline-block;
            cursor: pointer  !important;
        }

        &-active {
            border: 2px solid #db5660;
        }
    }
}

.product-spinner {
    display: flex;
    flex-wrap: wrap;
    button {
        color:#fff;
        height: 33px;
        flex: 0 0 30px;
        background-color: #272222;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    input {
        flex: 1;
        width: 100%;
        text-align: center;
        margin: 0px 6px;
    }
    &-col {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.cart-spinner-container {
    width: 100px;
}

.cart-action-style {
    font-size: 14px;
    width: 80px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-product-container {
    display: flex;
    flex-direction: column;
    .content-item {
        flex: 1;
    }
}

.cart-product-height {
    height: 100%;
}


.cart-menu-item {
    position: relative;
    .cart-menu-item-count {
        display: none;
        position: absolute;
        width: 17px;
        height: 17px;
        justify-content: center;
        flex-direction: row;
        align-items: center;
        background-color: #db5660;
        border-radius: 50%;
        right: 10px;
        top: 10px;
        font-size: 14px;
    }
}

.active-link {
    color: #db5660 !important;
}

.clear-fix {
    content: '';
    display: block;
    clear: both;
}
.seemorelink {
    
    padding: 10px 15px;
    text-decoration: none;
    margin-top: 35px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seemorelink:hover {
    color: #fff;
}

.search-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 999999999;
    background: #ccc;
    background: rgba(0, 0, 0,0.9);
    color:#db5660 !important;
    .search-container {
        height: 80%;
        overflow-y: auto;
    }
    a {
        color:#db5660 !important;
        font-weight: 500;
        font-size: 1.5rem;
        text-decoration: underline;
    }
}
